* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Gla';
    src: url('fsgla.eot');
    src: url('fsgla.eot?#iefix') format('embedded-opentype'), url('fsgla.woff') format('woff'), url('fsgla.TTF') format('truetype');
}

@font-face {
    font-family: 'Gla';
    src: url('fsgla.TTF');
}

@font-face {
    font-family: cardo;
    src: url(Cardo-Regular.ttf)
}

@font-face {
    font-family: cardo-strong;
    src: url(Cardo-Bold.ttf)
}

@font-face {
    font-family: cardo-italic;
    src: url(Cardo-Italic.ttf)
}

@font-face {
    font-family: cardo;
    src: url(Cardo-Regular.ttf)
}

@font-face {
    font-family: cardo-strong;
    src: url(Cardo-Bold.ttf)
}

@font-face {
    font-family: cardo-italic;
    src: url(Cardo-Italic.ttf)
}

html,
body {
    height: 100vh;
    font-family: cardo;
}

.home {
    color: rgb(104, 0, 2);
    font-size: 60px;
    line-height: 0.5;
    font-weight: 600;
    position: fixed;
}

html {
    background: url(podloga2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a {
    color: rgb(104, 0, 2);
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    color: rgb(104, 0, 2);
}

.hangman {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: rgb(104, 0, 2);
    font-weight: 300;
}

p {
    margin-bottom: 20px;
    font-size: 37px;
    line-height: 1.3;
}

@keyframes letteranim {
    50% {
        transform: translateY(-5px) scale(1.05);
    }
}

#slicica {
    max-width: 100%;
    max-height: 400px;
    margin-bottom: 0.5%;
    border-radius: 5px;
    padding-top: 30px;
}

.letter {
    display: inline-block;
    color: transparent;
    border-bottom: 5px solid rgb(104, 0, 2);
    font-family: "gla";
    margin: 0 10px;
    font-size: 50px;
    padding: 10px;
    transition: .5s;
}

.word {
    display: block;
    white-space: nowrap;
}

.correct {
    color: rgb(104, 0, 2);
    text-shadow: 1px 1px 0 black;
    animation: letteranim .3s ease;
}

.guessForm {
    margin: 20px auto 0;
}

.guessForm input,
.guessForm .guessButton {}

.guessForm input[type="text"] {
    outline: none;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 20px;
    margin-right: 5px;
    border: 1px solid #aaa;
    color: gray;
}

.guessForm .guessButton {
    border: none;
    font-size: 30px;
    padding: 10px 20px;
    cursor: pointer;
    background: rgb(104, 0, 2);
    ;
    color: white;
    transition: .3s;
    margin: 10px 0;
    text-shadow: 1px 2px 0 black;
}

.guessForm .guessButton:hover {
    background: black;
}

.wrongLetters {
    font-size: 20px;
}

.wrongLetters p {
    margin-bottom: 10px;
}

.gla {
    font-family: "gla";
    text-transform: lowercase;
    font-size: 30px
}

.wrongLetters li {
    display: inline-block;
    font-size: 40px;
    background: #ff4d4d;
    text-shadow: 1px 2px 0 red;
    padding: 10px;
    color: white;
    text-transform: lowercase;
    margin-right: 10px;
    animation: letteranim .3s ease;
    border-radius: 5px;
    font-family: "gla"
}

.message {
    display: none;
    padding: 20px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #D6CAB2;
    z-index: 12402402;
}

.message h1 {
    text-shadow: 1px 1px 0 #000000;
}

.message .highlight {
    color: rgb(104, 0, 2);
}

.message .text {
    color: black;
    font-size: 30px;
    display: none;
}

.message .text p {
    color: black;
}

.message .text .highlight {
    font-size: 40px;
}

.message .muted {
    margin: 20px auto;
    color: #86d1ff;
}

.button {
    display: none;
    margin: 10px 0;
    border: none;
    font-size: 30px;
    padding: 10px 20px;
    cursor: pointer;
    background: rgb(104, 0, 2);
    color: white;
    transition: .3s;
    text-shadow: 1px 2px 0 black;
    font-family: cardo;
    border-radius: 5px;
}

.button:hover {
    background: rgb(85, 1, 2);
}

.naslov {
    text-align: center;
    color: rgb(104, 0, 2);
    text-shadow: 0 0 5px black;
}

.upute {}

.title {
    color: black
}

#slovo {
    display: none;
}

.begin-countdown {
    margin-top: 15px;
    margin-bottom: 15px
}

.preostalo {
    font-size: 14px
}

.w3-display-topleft {
    -webkit-transition: all 0.5s ease;
    /* Safari prior 6.1 */
    transition: all 0.5s ease;
}

.w3-display-topleft:hover {
    color: black;
    cursor: pointer;
}

#A,
#B,
#C,
#CC,
#CCC,
#D,
#DJ,
#E,
#F,
#G,
#H,
#I,
#J,
#K,
#L,
#M,
#N,
#O,
#P,
#R,
#S,
#SS,
#T,
#U,
#V,
#Z,
#ZZ,
#space {
    display: inline-block;
    font-size: 27px;
    background: rgb(104, 0, 2);
    text-shadow: 1px 2px 0 black;
    color: white;
    margin-right: 10px;
    animation: letteranim .3s ease;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

.correct {
    text-transform: lowercase
}

.guessLetter {
    text-transform: lowercase;
}

@media screen and (max-width: 1200px) {
    .letter {
        font-size: 20px;
        padding: 3px;
    }
    .title {
        font-size: 24px;
    }
    .message .text {
        font-size: 16px;
    }
    .button {
        font-size: 20px;
    }
    .guessForm input[type="text"] {
        font-size: 20px;
        width: 80%;
    }
    .upute {
        font-size: 14px;
    }
}

#hint {
    text-shadow: 0px 0px 5px rgb(104, 0, 2)
}

.w3-display-topleft {
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 1;
}

.sakrij {
    visibility: hidden;
}

#form-submit:disabled {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 5-7 */
    filter: alpha(opacity=50);
    /* Netscape */
    -moz-opacity: 0.5;
    /* Safari 1.x */
    -khtml-opacity: 0.5;
    /* Good browsers */
    opacity: 0.5;
}

#progressBar {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
    margin: auto;
}

.jedan {
    display: none
}

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}


/*  COLUMN SETUP  */

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1%;
}

.col:first-child {
    margin-left: 0;
}


/*  GROUPING  */

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
    /* For IE 6/7 */
}


/*  GRID OF THREE  */

.span_3_of_3 {
    width: 100%;
}

.span_2_of_3 {
    width: 66.33%;
}

.span_1_of_3 {
    width: 32.66%;
}

@media screen and (max-width: 800px) {
    #A,
    #B,
    #C,
    #CC,
    #CCC,
    #D,
    #DJ,
    #E,
    #F,
    #G,
    #H,
    #I,
    #J,
    #K,
    #L,
    #M,
    #N,
    #O,
    #P,
    #R,
    #S,
    #SS,
    #T,
    #U,
    #V,
    #Z,
    #ZZ,
    #space {
        padding: 5px;
        font-size: 20px
    }
    .w3-display-topleft {
        top: 1%;
        left: 1%;
        font-size: 30px
    }
    #slikica {
        max-height: 200px;
        padding-top: 50px;
    }
    body {
        background-size: cover;
        background-attachment: fixed
    }
}


/*  GO FULL WIDTH BELOW 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0%;
    }
    .span_3_of_3,
    .span_2_of_3,
    .span_1_of_3 {
        width: 100%;
    }
}