body {
  background: lightgray;
}

.origin > ul {
  background: gray;
  padding: 10px;
  min-height: 20px;
}

.draggable {
  padding: 10px;
  background: tomato;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.drake-slots {
  background: lightblue;
  padding: 10px;
  .slot {
    display: table;
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    .matchable {
      padding: 5px;
      background: white;
      display: table-cell;
      width: 40px;
    }
    .drake-match {
      display: table-cell;
      width: auto;
      border: 1px dashed;
    }
  }
}